{
	"pd": "2419",
	"temperature_type": 2,
	"strategylist": [

		{
			"inputParameters": {
				"strategyId": 300,
				"strategyType": "config",
				"sceneName": "se_portrait_beauty_preview_temp_limit",
				"condition": {
					"effect": "app",
					"module": "portrait",
					"high_temp": 43,
					"low_temp": 41,
					"bl_high": 8,
					"bl_low": 6
				}
			},
			"outputParameters": {
			}
		},

		{
			"inputParameters": {
				"strategyId": 301,
				"strategyType": "config",
				"sceneName": "se_portrait_blur_preivew_temp_limit",
				"condition": {
					"effect": "app",
					"module": "portrait",
					"high_temp": 43,
					"low_temp": 41,
					"bl_high": 8,
					"bl_low": 6
				}
			},
			"outputParameters": {
			}
		},

		{
            "inputParameters": {
               "strategyId": 410,
               "strategyType": "function_exit_camera",
               "sceneName": "low_battery_exit_camera",
               "condition": {
                   "effect": "app",
                   "bl_low": 3
                  }
            },
            "outputParameters": {
             }
         },

		{
			"inputParameters": {
				"strategyId": 10,
				"strategyType": "sensor_fps",
				"sceneName": "capture_preview_fps_F30T24",
				"condition": {
				"effect": "app",
				"module": "photo",
				"facing": 0,
				"state": "StatePreviewing",
				"high_temp_list": "43",
				"bl_low": 6
				}
			},
			"outputParameters": {
				"low_fps_list": 24
			}
		},

		{
			"inputParameters": {
				"strategyId": 11,
				"strategyType": "sensor_fps",
				"sceneName": "capture_preview_fps_F30T24",
				"condition": {
				"effect": "app",
				"module": "photo",
				"facing": 0,
				"state": "StatePreviewing",
				"high_temp_list": "41",
				"bl_low": 8,
				"isReset": true,
				"relatedstrategyId": 10
				}
			},
			"outputParameters": {
				"low_fps_list": 30
			}
		},

		{
			"inputParameters": {
				"strategyId": 100,
				"strategyType": "config",
				"sceneName": "capture_single_frame",
				"condition": {
				"effect": "app",
				"high_temp": 47,
				"bl_low": 6
				}
			},
			"outputParameters": {
			}
		},

		{
			"inputParameters": {
				"strategyId": 101,
				"strategyType": "record_time",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "StateRecording",
					"high_temp": 47,
					"video_quality": "8",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"guranteed_time": 50,
				"isExitCamera": false
			}
		},

		{
			"inputParameters": {
				"strategyId": 102,
				"strategyType": "record_time",
				"condition": {
					"effect": "app",
					"module":"movie_effect",
					"state": "StateRecording",
					"high_temp": 47,
					"video_fps": "30",
					"keys":
					[
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"guranteed_time": 50,
				"isExitCamera": false
			}
		},

		{
			"inputParameters": {
				"strategyId": 112,
				"strategyType": "config",
				"sceneName": "camera_sensor_exit_recording",
				"condition": {
				"effect": "app",
				"module": "video",
				"video_fps": "60",
				"video_quality": "8",
				"cameraType": "Tele3xLong",
				"facing": 0,
				"high_temp": 80
				}
			},
			"outputParameters": {

			}
		},

		{
			"inputParameters": {
				"strategyId": 200,
				"strategyType": "preview_fps",
				"sceneName": "video_60fps_preview_fps_F60T30",
				"condition": {
				"effect": "app",
				"module": "video",
				"video_quality": "6,8",
				"video_fps": "60",
				"state": "StatePreviewing,StateRecording",
				"facing": 1,
				"high_temp": 43,
				"bl_low": 6,
				"isReset": false,
				"relatedstrategyId": -1,
				"keys": [
					{
						"key": "",
						"key_value": "0"
					}
				]
				}
			},
			"outputParameters": {}
		},

		{
			"inputParameters": {
				"strategyId": 201,
				"strategyType": "preview_fps",
				"sceneName": "video_60fps_preview_fps_F60T30",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_quality": "6,8",
					"video_fps": "60",
					"state": "StatePreviewing,StateRecording",
					"facing": 1,
					"high_temp": 41,
					"bl_high": 8,
					"isReset": true,
					"relatedstrategyId": 200,
					"keys": [
						{
							"key": "",
							"key_value": "0"
						}
					]
				}
			},
			"outputParameters": {}
		},

		{
			"inputParameters": {
				"strategyId": 202,
				"strategyType": "function",
				"sceneName": "video_memc_preview_fps_F60T30",
				"condition": {
				"effect": "vcf",
				"high_temp": 43,
				"low_temp": 41,
				"bl_high": 8,
				"bl_low": 6
				}
		  },
		  "outputParameters": {}
		},

		{
			"inputParameters": {
				"strategyId": 220,
				"strategyType": "config",
				"sceneName": "video_quality_or_fps_change",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 0,
					"high_temp": 47,
					"bl_low": 6,
					"video_quality": "8,13"
				}
			},
			"outputParameters": {
				"video_quality": "6"
			}
		},

		{
			"inputParameters": {
				"strategyId": 270,
				"strategyType": "config",
				"sceneName": "video_dolby_high_temp",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 0,
					"state": "StatePreviewing,StateRecording",
					"video_fps": "60",
					"video_quality": "8",
					"high_temp": 43,
					"low_temp": 41,
					"bl_high": 8,
					"bl_low": 6
				}
			},
			"outputParameters": {}
		},

		{
			"inputParameters": {
				"strategyId": 130,
				"strategyType": "config",
				"sceneName": "photo_long_focus_micro",
				"condition": {
					"effect": "app"
				}
			},
			"outputParameters": {
				"upper_fps": 24,
				"lower_fps": 24
			}
		},

		{
			"inputParameters":{
                "strategyId":430,
                "strategyType":"record_time",
                "sceneName":"3C",
                "condition":{
                    "effect":"app",
                    "module":"video",
                    "facing":0,
                    "state":"StateRecording",
                    "high_temp":47,
                    "low_temp":28,
                    "video_quality":"13",
                    "video_fps":"30",
                    "keys":[
                        {
                            "key":"isCharging",
                            "key_value":"1"
                        },
                        {
                            "key":"batteryPct",
                            "key_value":"60"
                        },
                        {
                            "key":"brightness",
                            "key_value":"90"
                        },
                        {
                            "key":"flash",
                            "key_value":"1"
                        },
                        {
                            "key":"stationary",
                            "key_value":"1"
                        }
                    ]
                }
            },
            "outputParameters":{
                "guranteed_time":20,
                "isExitCamera":false
            }
        },

        {
            "inputParameters":{
                "strategyId":431,
                "strategyType":"record_time",
                "sceneName":"3C",
                "condition":{
                    "effect":"app",
                    "module":"video",
                    "facing":0,
                    "state":"StateRecording",
                    "high_temp":47,
                    "low_temp":28,
                    "video_quality":"8",
                    "video_fps":"60",
                    "keys":[
                        {
                            "key":"isCharging",
                            "key_value":"1"
                        },
                        {
                            "key":"batteryPct",
                            "key_value":"60"
                        },
                        {
                            "key":"brightness",
                            "key_value":"90"
                        },
                        {
                            "key":"flash",
                            "key_value":"1"
                        },
                        {
                            "key":"stationary",
                            "key_value":"1"
                        }
                    ]
                }
            },
            "outputParameters":{
                "guranteed_time":20,
                "isExitCamera":false
            }
        },

        {
            "inputParameters":{
                "strategyId":432,
                "strategyType":"record_time",
                "sceneName":"3C",
                "condition":{
                    "effect":"app",
                    "module":"movie_effect",
                    "facing":0,
                    "state":"StateRecording",
                    "high_temp":47,
                    "low_temp":28,
                    "keys":[
                        {
                            "key":"isCharging",
                            "key_value":"1"
                        },
                        {
                            "key":"batteryPct",
                            "key_value":"60"
                        },
                        {
                            "key":"brightness",
                            "key_value":"90"
                        },
                        {
                            "key":"stationary",
                            "key_value":"1"
                        }
                    ]
                }
            },
            "outputParameters":{
                "guranteed_time":20,
                "isExitCamera":false
            }
        },

		{
			"inputParameters": {
				"strategyId": 600,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "5",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1185528,
				"total": 150000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 601,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "5",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1111762,
				"total": 100000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 602,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "6",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1247812,
				"total": 164579,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 603,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "6",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1252352,
				"total": 218568,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 604,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "8",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1194530,
				"total": 618645,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 605,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "8",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "2"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1095710,
				"total": 787761,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 606,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "6",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "1"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1356269,
				"total": 410472,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 606,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "6",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "1"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1356269,
				"total": 339791,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 607,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "6",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "3"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1036455,
				"total": 620000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 610,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "5,6",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1111762,
				"total": 100000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 611,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "5,6",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1111762,
				"total": 100000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 612,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "8",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1194530,
				"total": 350000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 613,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "8",
					"video_fps": "60",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1095710,
				"total": 650000,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 614,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_fps": "30",
					"keys": 
					[
						{
							"key": "pref_display_ic_mode",
							"key_value": "30"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1523520,
				"total": 167179,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 615,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 1,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_fps": "30",
					"keys": 
					[
						{
							"key": "pref_display_ic_mode",
							"key_value": "30"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1357605,
				"total": 100000,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 616,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_fps": "60",
					"keys": 
					[
						{
							"key": "pref_display_ic_mode",
							"key_value": "60"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1311418,
				"total": 100000,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 617,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_fps": "30",
					"keys": 
					[
						{
							"key": "pref_display_ic_mode",
							"key_value": "24"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1523520,
				"total": 424000,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 624,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "13",
					"video_fps": "24",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1095710,
				"total": 400000,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 624,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "video",
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE",
					"video_quality": "13",
					"video_fps": "30",
					"keys":
					[
						{
							"key": "pref_video_super_stable",
							"key_value": "0"
						},
						{
							"key": "",
							"key_value": ""
						},
						{
							"key": "",
							"key_value": ""
						}
					]
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1095710,
				"total": 1045180,
				"needFreeze":3000
			}
		},
		{
			"inputParameters": {
				"strategyId": 618,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "portrait",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 800000,
				"total": 700000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 619,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "portrait",
					"facing": 1,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 800000,
				"total": 400000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 820,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "photo",
					"facing": 0,
					"state": "StateCameraOpened"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 0,
				"total": 100000
			}
		},

		{
			"inputParameters": {
				"strategyId": 620,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "photo",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 500000,
				"total": 450000,
				"needFreeze":3000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 6201,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "photo",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":1300,
				"ion_uncache": 0,
				"pss": 500000,
				"total": 800000
			}
		},

		{
			"inputParameters": {
				"strategyId": 621,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "photo",
					"facing": 1,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 1340000,
				"total": 300000,
				"needFreeze":3000
			}
		},

		{
			"inputParameters": {
				"strategyId": 622,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "scenery",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 1208840,
				"total": 620000,
				"needFreeze":3000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 623,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "motion_deblur",
					"facing": 0,
					"state": "EVENT_ACTIVITY_FIRST_FRAME_AVAILABLE"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":500,
				"ion_uncache": 0,
				"pss": 1143676,
				"total": 550000,
				"needFreeze":3000
			}
		},
		

		{
			"inputParameters": {
				"strategyId": 701,
				"strategyType": "config",
				"sceneName": "shot2shot",
				"condition": {
					"effect": "app"
				}
			},
			"outputParameters": {
				"shot2shot": [{
					"memoryType": "8G",
					"moduleInfo": [{
						"id": "photo",
						"shot2shotUFS": 0,
						"shot2shotUFSCount": 9,
						"shot2shotCount": 3,
						"singleCaptureCount": 5,
						"singleCaptureDuration": 500
					}, {
						"id": "portrait",
						"shot2shotUFS": 0,
						"shot2shotUFSCount": 9,
						"shot2shotCount": 3,
						"singleCaptureCount": 3,
						"singleCaptureDuration": 600
					}]
				}, {
					"memoryType": "12G",
					"moduleInfo": [{
						"id": "photo",
						"shot2shotUFS": 0,
						"shot2shotUFSCount": 9,
						"shot2shotCount": 6,
						"singleCaptureCount": 5,
						"singleCaptureDuration": 500
					}, {
						"id": "portrait",
						"shot2shotUFS": 0,
						"shot2shotUFSCount": 9,
						"shot2shotCount": 6,
						"singleCaptureCount": 5,
						"singleCaptureDuration": 600
					}]
				}]
			}
		},

		{
			"inputParameters": {
				"strategyId": 702,
				"strategyType": "config",
				"sceneName": "longshot_interval",
				"condition": {
					"effect": "app"
				}
			},
			"outputParameters": {
				"longshot_interval_inms": 50
			}
		},

		{
			"inputParameters": {
				"strategyId": 704,
				"strategyType": "config",
				"sceneName": "vsync",
				"condition": {
					"effect": "app"
				}
			},
			"outputParameters": {
				"not_support_modulelist": "portrait,multi_exposure,double_vision,video_slow,mirror,ar_sicker"
			}
		},

		{
			"inputParameters": {
				"strategyId": 712,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 30,
					"video_quality": "6",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 22000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 713,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 60,
					"video_quality": "6",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 24000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 714,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 30,
					"video_quality": "8",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 60000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 715,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 60,
					"video_quality": "8",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 90000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 716,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_slow",
					"video_fps": 240,
					"video_quality": "6",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 15000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 717,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "movie_effect",
					"facing": 0,
					"video_fps": 30,
					"video_quality": "6"
				}
			},
			"outputParameters": {
				"bitrate": 36000000
			}
		},

		{
			"inputParameters": {
				"strategyId": 718,
				"strategyType": "config",
				"sceneName": "audio_platform_algo_choose",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_quality": "6,8,13",
					"video_fps": "30,60"
				}
			},
			"outputParameters": {
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 719,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "movie_effect",
					"facing": 0,
					"video_fps": 30,
					"video_quality": "8"
				}
			},
			"outputParameters": {
				"bitrate": 60000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 720,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 30,
					"video_quality": "7",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 30000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 721,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 60,
					"video_quality": "7",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 55000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 722,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 120,
					"video_quality": "8",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 100000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 723,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_slow",
					"video_fps": 120,
					"video_quality": "8",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 40000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 724,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30,50,60",
					"video_quality": "6",
					"encoderType": "H265"
				}
			},
			"outputParameters": {
				"standard_bitrate": 19200000,
				"high_bitrate": 24000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 725,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30,50,60",
					"video_quality": "6",
					"encoderType": "H264"
				}
			},
			"outputParameters": {
				"standard_bitrate": 24000000,
				"high_bitrate": 32000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 726,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "120,240",
					"video_quality": "6",
					"encoderType": "H265"
				}
			},
			"outputParameters": {
				"standard_bitrate": 36000000,
				"high_bitrate": 48000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 727,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "120,240",
					"video_quality": "6",
					"encoderType": "H264"
				}
			},
			"outputParameters": {
				"standard_bitrate": 48000000,
				"high_bitrate": 60000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 728,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30,50,60",
					"video_quality": "8",
					"encoderType": "H265"
				}
			},
			"outputParameters": {
				"standard_bitrate": 72000000,
				"high_bitrate": 120000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 729,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30,50,60",
					"video_quality": "8",
					"encoderType": "H264"
				}
			},
			"outputParameters": {
				"standard_bitrate": 90000000,
				"high_bitrate": 150000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 730,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "120",
					"video_quality": "8",
					"encoderType": "H265"
				}
			},
			"outputParameters": {
				"standard_bitrate": 80000000,
				"high_bitrate": 120000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 731,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "120",
					"video_quality": "8",
					"encoderType": "H264"
				}
			},
			"outputParameters": {
				"standard_bitrate": 100000000,
				"high_bitrate": 160000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 732,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30",
					"video_quality": "13",
					"encoderType": "H265"
				}
			},
			"outputParameters": {
				"standard_bitrate": 67000000,
				"high_bitrate": 120000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 733,
				"strategyType": "config",
				"sceneName": "video_quality_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_advanced",
					"video_fps": "24,25,30",
					"video_quality": "13",
					"encoderType": "H264"
				}
			},
			"outputParameters": {
				"standard_bitrate": 84000000,
				"high_bitrate": 150000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 734,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video",
					"video_fps": 30,
					"video_quality": "13",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 84000000
			}
		},
		
		{
			"inputParameters": {
				"strategyId": 735,
				"strategyType": "config",
				"sceneName": "recording_bitrate",
				"condition": {
					"effect": "app",
					"module": "video_slow",
					"video_fps": 120,
					"video_quality": "6",
					"facing": 0
				}
			},
			"outputParameters": {
				"bitrate": 9500000
			}
		},

		{
			"inputParameters": {
				"strategyId": 736,
				"strategyType": "memory",
				"condition": {
					"effect": "app",
					"module": "photo",
					"facing": 0,
					"state": "StateCapturing"
				}
			},
			"outputParameters": {
				"ioncharge_req_delay_ms":0,
				"ion_uncache": 0,
				"pss": 1800000,
				"total": 650000
			}
		}
	]
}
